@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed&family=Bellefair&family=Nunito:wght@400;600;700&display=swap');

@import url('https://cdn.jsdelivr.net/npm/@xz/fonts@1/serve/plus-jakarta-display.min.css');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@mixin mainFont {
  font-family: 'Nunito', sans-serif;
}

@mixin secFont {
  font-family: 'Plus Jakarta Display', sans-serif;
}

// colors
$right-grad: #191818;
$left-grad: #313131;
$bright-orange: #c39839;
$bright-blue: #3c78b0;

// font sizes
$font-sizes: (
  'page-name': 2.5rem,
  'heading': 2rem,
  'weather-name': 1.8rem,
  'weather-info': 1.5rem,
  'additional': 1.1rem,
);

a {
  text-decoration: none;
  color: white;
}

li {
  list-style: none;
}

@mixin flex($jus, $pos, $dir) {
  display: flex;
  justify-content: $jus;
  align-items: $pos;
  flex-direction: $dir;
}
