* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

// colors
$left-grad: #171616;
$right-grad: #201f1f;
$bright-orange: #c39839;
$bright-blue: #3c78b0;

a {
  text-decoration: none;
  color: white;
}

li {
  list-style: none;
}
