@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;700;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@mixin mainFont {
  font-family: 'Roboto', sans-serif;
}

@mixin secFont {
  font-family: 'Merriweather', serif;
}

// colors
$right-grad: #191818;
$left-grad: #313131;
$bright-orange: #eeb436;
$bright-blue: #3c78b0;

// font sizes
$font-sizes: (
  'page-name': 2.5rem,
  'heading': 2rem,
  'weather-name': 1.8rem,
  'weather-info': 1.5rem,
  'info': 1.1rem,
  'ad-weather-info': 0.9rem,
  'additional': 0.8rem,
);

a {
  text-decoration: none;
  color: white;
}

li {
  list-style: none;
}

@mixin flex($jus, $pos, $dir) {
  display: flex;
  justify-content: $jus;
  align-items: $pos;
  flex-direction: $dir;
}
