@use 'mech' as m;

body {
  @include m.mainFont;
  font-size: 10px;
  height: 100vh;
  width: 100%;
  padding: 30px 20px;
  color: white;
  background: linear-gradient(to right, m.$left-grad, m.$right-grad);
}

#app-name {
  font-size: map-get(m.$font-sizes, page-name);
  text-align: center;
}

#main {
  @include m.flex(center, center, row);
  max-width: 600px;
  margin: 0 auto;
  margin-top: 35px;
}

#main-container {
  width: 80%;
  background: linear-gradient(-120deg, m.$left-grad, m.$right-grad);
  padding: 30px 20px;
  border-radius: 30px;
  box-shadow: -0px -0px 10px black, 0px 0px 10px black;
  @include m.flex(center, flex-start, column);

  & #period {
    width: 100%;
    @include m.flex(space-between, center, row);

    & h5 {
      font-size: map-get(m.$font-sizes, weather-name);
    }

    & p {
      font-size: map-get(m.$font-sizes, additional);
      @include m.secFont;
      color: m.$bright-orange;
    }
  }

  & #temp-main {
    margin: 10px 0;
    width: 100%;
    @include m.flex(space-between, center, row);

    & .temp {
      @include m.secFont;
      font-size: map-get(m.$font-sizes, page-name);
      font-size: 5rem;
      font-weight: 900;

      & sup {
        @include m.mainFont;
        font-size: map-get(m.$font-sizes, weather-info);
        font-size: 3rem;
        margin-left: -15px;
        font-weight: 600;
        color: m.$bright-orange;

        & sub {
          margin-left: -13px;
        }
      }
    }

    & .temp-icon {
      width: 100px;

      & img {
        width: 100%;
      }
    }
  }

  & #location {
    width: 100%;
    @include m.flex(center, center, row);
    font-size: map-get(m.$font-sizes, info);
  }
}
