@use 'mech' as m;

body {
  @include m.mainFont;
  font-size: 10px;
  height: 100vh;
  width: 100%;
  color: white;
  background: linear-gradient(to right, m.$left-grad, m.$right-grad);
}

#app-name {
  font-size: map-get(m.$font-sizes, heading);
  text-align: center;
}
