@use 'mech' as m;

body {
  height: 100vh;
  width: 100%;
  color: white;
  font-size: 10px;
  background: linear-gradient(to right, m.$left-grad, m.$right-grad);
}

#app-name {
}

#main {
  height: 100%;
  width: 100%;
  padding: 30px 30px;
  font-size: 2rem;
  @include m.mainFont;

  & p {
    font-size: 1.5rem;
    @include m.mainFont;
  }
  //   background: red;
}
